<form method="POST" action="/figures">
<label> Name </label>
<input type="text" name="figure[name]" id="figure_name">
 <label><h4>Titles</h4></label>
    <% Title.all.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><br>

    <% end %>




<input type="text" name="figure[landmark_ids][]">
<input type="text" name="landmark[name]">
<input type="text" name="title[name]">
<input type="submit" value="Create New Figure">
</form>
